:root{
    --couleur1: #22223B;
    --couleur2: #454163;
    --couleur3: #F2E9E4;
    --couleur4: #C9ADA7;
    --couleur6: #BC9289;
    --couleur7: #03030c;
}
.inside_body .circle{
    position: absolute;
    margin: 0 auto;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: var(--couleur7);
    filter: blur(50px);
}
.inside_body .circle1{
    position: absolute;
    margin: 0 auto;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background-color: var(--couleur7);
    opacity: 40%;
    filter: blur(50px);
}

.inside_body .circle2{
    position: absolute;
    margin: 0 auto;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    background-color: var(--couleur7);
    filter: blur(50px);
    opacity: 40%;
}
.inside_body .circle3{
    position: absolute;
    margin: 0 auto;
    height: 16vh;
    width: 16vh;
    border-radius: 50%;
    background-color: var(--couleur7);
    filter: blur(50px);
    opacity: 40%;
}

.outside_body .circle{
    position: absolute;
    margin: 0 auto;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: #CDA69D;
    filter: blur(50px);
    opacity: 40%;
}
.outside_body .circle1{
    position: absolute;
    margin: 0 auto;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background-color: #CDA69D;
    opacity: 40%;
    filter: blur(50px);
}
.outside_body .circle2{
    position: absolute;
    margin: 0 auto;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    background-color: #CDA69D;
    filter: blur(50px);
    opacity: 40%;
}
.outside_body .circle3{
    position: absolute;
    margin: 0 auto;
    height: 16vh;
    width: 16vh;
    border-radius: 50%;
    background-color: #CDA69D;
    filter: blur(50px);
    opacity: 40%;
}
.foreground{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 99;
}

/*------------------Mobile---------------------*/
@media screen and (max-width: 619px){
    .shake {
        position: absolute;
        animation: shake-animation-phone 20s ease infinite;
        transform-origin: 50% 50%;
    }
    .shake1 {
        position: absolute;
        animation: shake-animation-phone-1 20s ease infinite;
        transform-origin: 50% 50%;
    }
    .shake2 {
        position: absolute;
        animation: shake-animation-phone-2 20s ease infinite;
        transform-origin: 50% 50%;
    }

    .shake3 {
        position: absolute;
        animation: shake-animation-phone-3 20s ease infinite;
        transform-origin: 50% 50%;
    }
}

/*------------------desktop---------------------*/
@media screen and (min-width: 620px){
    .shake {
        position: absolute;
        animation: shake-animation-desktop 20s ease infinite;
        transform-origin: 50% 50%;
    }
    .shake1 {
        position: absolute;
        animation: shake-animation-desktop-1 20s ease infinite;
        transform-origin: 50% 50%;
    }
    .shake2 {
        position: absolute;
        animation: shake-animation-desktop-2 20s ease infinite;
        transform-origin: 50% 50%;
    }
    
    .shake3 {
        position: absolute;
        animation: shake-animation-desktop-3 20s ease infinite;
        transform-origin: 50% 50%;
    }
}
/*--------------------------------Animation Mobile-------------------*/
@keyframes shake-animation-phone {
   0% { transform:translate(0,0) }
  10% { transform:translate(35vw,40vh) }
  20% { transform:translate(25vw,40vh) }
  30% { transform:translate(50vw,25vh) }
  40% { transform:translate(17vw,10vh) }
  50% { transform:translate(50vw,26vh) }
  60% { transform:translate(30vw,30vh) }
  70% { transform:translate(0,10vh) }
  90% { transform:translate(50vw,5vh) }
  100% { transform:translate(0,0) }
}

@keyframes shake-animation-phone-1 {
    0% { transform:translate(50vw,40vh) }
   10% { transform:translate(50vw,0vh) }
   40% { transform:translate(50vw,0vh) }
   50% { transform:translate(45vw,10vh) }
   70% { transform:translate(0,50vh) }
   90% { transform:translate(50vw,0) }
   100% { transform:translate(50vw,40vh) }
 }

 @keyframes shake-animation-phone-2 {
    0% { transform:translate(5vw,50vh) }
   10% { transform:translate(20vw,30vh) }
   20% { transform:translate(50vw,40vh) }
   30% { transform:translate(50vw,50vh) }
   40% { transform:translate(10vw,20vh) }
   50% { transform:translate(20vw,50vh) }
   60% { transform:translate(5vw,40vh) }
   70% { transform:translate(50vw,10vh) }
   80% { transform:translate(10vw,50vh) }
   90% { transform:translate(20vw,20vh) }
   100% { transform:translate(5vw,50vh) }
 }

 @keyframes shake-animation-phone-3 {
    0% { transform:translate(0,0) }
   10% { transform:translate(50vw,50vh) }
   40% { transform:translate(25vw,40vh) }
   50% { transform:translate(50vw,0) }
   70% { transform:translate(0,0) }
   90% { transform:translate(50vw,0) }
   100% { transform:translate(0,0) }
 }

 /*--------------------------------Animation desktop-------------------*/

 
 @keyframes shake-animation-desktop {
    0% { transform:translate(0,0) }
   10% { transform:translate(35vw,40vh) }
   20% { transform:translate(25vw,40vh) }
   30% { transform:translate(50vw,25vh) }
   40% { transform:translate(17vw,10vh) }
   50% { transform:translate(60vw,26vh) }
   60% { transform:translate(30vw,30vh) }
   70% { transform:translate(0,10vh) }
   90% { transform:translate(60vw,5vh) }
   100% { transform:translate(0,0) }
 }
 
 @keyframes shake-animation-desktop-1 {
     0% { transform:translate(50vw,40vh) }
    10% { transform:translate(60vw,0vh) }
    40% { transform:translate(40vw,0vh) }
    50% { transform:translate(45vw,10vh) }
    70% { transform:translate(0,30vh) }
    90% { transform:translate(90vw,0) }
    100% { transform:translate(50vw,40vh) }
  }
 
  @keyframes shake-animation-desktop-2 {
     0% { transform:translate(5vw,50vh) }
    10% { transform:translate(20vw,30vh) }
    20% { transform:translate(100vw,40vh) }
    30% { transform:translate(10vw,100vh) }
    40% { transform:translate(10vw,20vh) }
    50% { transform:translate(20vw,40vh) }
    60% { transform:translate(5vw,40vh) }
    70% { transform:translate(30vw,10vh) }
    80% { transform:translate(10vw,30vh) }
    90% { transform:translate(20vw,20vh) }
    100% { transform:translate(5vw,50vh) }
  }
 
  @keyframes shake-animation-desktop-3 {
     0% { transform:translate(0,0) }
    10% { transform:translate(50vw,30vh) }
    40% { transform:translate(25vw,40vh) }
    50% { transform:translate(60vw,0) }
    70% { transform:translate(0,0) }
    90% { transform:translate(40vw,0) }
    100% { transform:translate(0,0) }
  }