/* variables */
:root{
    --couleur1: #22223B;
    --couleur2: #454163;
    --couleur3: #F2E9E4;
    --couleur4: #C9ADA7;
    --couleur6: #BC9289;
}

/* reset */
body{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    overflow: hidden;
    height: 100vh;
}

/* base styles */

.outside_body{
    background-color: var(--couleur3);
}
.outside_body .button1{
    background-color: var(--couleur2);
    border: none;
    border-radius: 3px;
}

.inside_body{
    background-color: var(--couleur1);
}
.inside_body .button1{
    background-color: transparent;
    border: solid;
    border-color: #F3E1D7;
    border-width: 2px;
    border-radius: 3px;
}
.inside_body .precedentbutton{
    background-color: transparent;
    border: solid;
    border-color: #F3E1D7;
    border-width: 2px;
    border-radius: 3px;
}
.inside_body .suivantbutton{
    background-color: var(--couleur3);
    border: solid;
    border-color: var(--couleur3);
    border-width: 2px;
    border-radius: 5px;
}

.titre_home{
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.titre_selection{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* fonts */
@font-face{
    font-family: 'Cormorant semi';
    src: url('assets/fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf')
}
@font-face{
    font-family: 'Zenkaku Medium';
    src: url('assets/fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Medium.ttf');
}
@font-face{
    font-family: 'Zenkaku Bold';
    src: url('assets/fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Bold.ttf');
}

/*-----------------------------------outside-----------------------*/
.outside_body h1{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Cormorant semi';
    color: var(--couleur2);
    font-size: 5em;
    text-align: center;
}
.outside_body h3{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Zenkaku Bold';
    color: var(--couleur6);
    font-size: 2.5em;
    text-align: center;
}
.outside_body h4{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Cormorant semi';
    color: var(--couleur2);
    font-size: 2.5em;
    text-align: center;
}
.outside_body h5{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Zenkaku Medium';
    color: var(--couleur2);
    font-size: 1.5em;
    text-align: center;
}
.outside_body p{
    font-weight: normal;
    font-family: 'Zenkaku medium';
}
.outside_body .button1{
    font-weight: normal;
    font-family: 'Zenkaku medium';
    color: var(--couleur3);
    font-size: 1.5em;
}

/*-----------------------------------inside-----------------------*/
.inside_body h1{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Cormorant semi';
    color: var(--couleur4);
    font-size: 5em;
    text-align: center;
}
.inside_body h3{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Zenkaku Bold';
    color: var(--couleur4);
    font-size: 2.5em;
    text-align: center;
}
.inside_body h4{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Cormorant semi';
    color: var(--couleur4);
    font-size: 2.5em;
    text-align: center;
}
.inside_body h5{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Zenkaku Medium';
    color: var(--couleur4);
    font-size: 1.5em;
    text-align: center;
}
.inside_body p{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Zenkaku Medium';
    color: var(--couleur4);
    font-size: 2em;
    text-align: center;
}
.inside_body p{
    font-weight: normal;
    font-family: 'Zenkaku medium';
}
.inside_body .button1{
    font-weight: normal;
    font-family: 'Zenkaku medium';
    color: var(--couleur4);
    font-size: 1.5em;
}
.inside_body .precedentbutton{
    font-weight: normal;
    font-family: 'Zenkaku medium';
    color: var(--couleur4);
    font-size: 1.5em;
}
.inside_body .suivantbutton{
    font-weight: normal;
    font-family: 'Zenkaku medium';
    color: var(--couleur2);
    font-size: 1.5em;
}
/* mobile styles */

/* small tablet styles*/
@media screen and (max-width: 619px){
    body{
        font-size: 10px;
    }
    .inside_body .button1{
        width: 210px;
        height: 45px;
        font-size: 17px;
    }
    .outside_body .button1{
        width: 291px;
        height: 56px;
        font-size: 22px;
    }
    .inside_body .retourSel{ 
        justify-content: center;
        align-items: center;
        width: 30%;
    }
    .inside_body .suivantbutton{ 
        justify-content: right;
        align-items: center;
        width: 140px;
        height: 45px;
        font-size: 18px;
    }
    
    .inside_body .precedentbutton{ 
        justify-content: right;
        align-items: center;
        width: 140px;
        height: 45px;
        font-size: 18px;
    }
}
@media screen and (min-width: 620px){
    .retourSel.button1{
        width: 296px;
        height: 100px;
        font-size: 22px;
    }
    .outside_body.button1{
        width: 296px;
        height: 56px;
        font-size: 22px;
    }
    .inside_body .retourSel{ 
        justify-content: center;
        align-items: center;
        width: 290px;
        height: 200px;
    }
    .inside_body .suivantbutton{ 
        justify-content: right;
        align-items: center;
        width: 140px;
        height: 45px;
        font-size: 18px;
    }
    
    .inside_body .precedentbutton{ 
        justify-content: right;
        align-items: center;
        width: 140px;
        height: 45px;
        font-size: 18px;
    }
}

/* large tablet & laptop styles*/
@media screen and (min-width: 960px){
    body{
        font-size: 18px;
    }
    .inside_body.button1{
        width: 330px;
        height: 60px;
        font-size: 25px;
    }
    .outside_body.button1{
        width: 330px;
        height: 60px;
        font-size: 25px;
    }
    .inside_body .retourSel{ 
        justify-content: center;
        align-items: center;
        width: 30%;
    }
    .inside_body .suivantbutton{ 
        justify-content: right;
        align-items: center;
        width: 140px;
        height: 45px;
        font-size: 25px;
    }
    
    .inside_body .precedentbutton{ 
        justify-content: right;
        align-items: center;
        width: 140px;
        height: 45px;
        font-size: 18px;
    }
}

/* desktop styles*/
@media screen and (min-width: 1200px){
    body{
        font-size: 20px;
    }
    .inside_body.button1{
        width: 400px;
        height: 70px;
        border-radius: 3px;
        font-size: 30px;
    }
    .outside_body.button1{
        width: 400px;
        height: 70px;
        border-radius: 3px;
        font-size: 30px;
    }
    .inside_body .retourSel{ 
        justify-content: center;
        align-items: center;
        width: 30%;
    }
    .inside_body .suivantbutton{ 
        justify-content: right;
        align-items: center;
        width: 140px;
        height: 45px;
    }
    
    .inside_body .precedentbutton{ 
        justify-content: right;
        align-items: center;
        width: 140px;
        height: 45px;
        font-size: 18px;
    }
}

/* grid testing */
.projects{    
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.projects a{
    text-align: center;
    padding: 20px;
}

.foreground{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.foregroundinside{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.image_sel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
}
.retourSel{   
    display: flex;
    height: 20vh;
    width: 30%;
}
.suivant{   
    display: grid;
    align-items: center;
    height: 25vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.histoire{   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100%;
}