/* variables */
:root{
    --couleur1: #22223B;
    --couleur2: #454163;
    --couleur3: #F2E9E4;
    --couleur4: #C9ADA7;
    --couleur6: #BC9289;
}

/* reset */
body{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    overflow-x: hidden;
    height: 100vh;
}

/* base styles */

.outside_body{
    background-color: var(--couleur3);
}
.outside_body .button1{
    background-color: var(--couleur2);
    border: none;
    border-radius: 3px;
}
.titre_home{
    display: grid;
    height: 50vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.inside_body .circle{
    position: absolute;
    margin: 0 auto;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: #92726a;
    filter: blur(50px);
}
.inside_body .circle1{
    position: absolute;
    margin: 0 auto;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background-color: #92726a;
    opacity: 30%;
    filter: blur(50px);
}
.inside_body .circle2{
    position: absolute;
    margin: 0 auto;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    background-color: #92726a;
    filter: blur(50px);
    opacity: 30%;
}
.inside_body .circle3{
    position: absolute;
    margin: 0 auto;
    height: 16vh;
    width: 16vh;
    border-radius: 50%;
    background-color: #92726a;
    filter: blur(50px);
    opacity: 30%;
}

.outside_body .circle{
    position: absolute;
    margin: 0 auto;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: #92726a;
    filter: blur(50px);
    opacity: 30%;
}
.outside_body .circle1{
    position: absolute;
    margin: 0 auto;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background-color: #92726a;
    opacity: 30%;
    filter: blur(50px);
}
.outside_body .circle2{
    position: absolute;
    margin: 0 auto;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    background-color: #92726a;
    filter: blur(50px);
    opacity: 30%;
}
.outside_body .circle3{
    position: absolute;
    margin: 0 auto;
    height: 16vh;
    width: 16vh;
    border-radius: 50%;
    background-color: #92726a;
    filter: blur(50px);
    opacity: 30%;
}
.foreground{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 99;
}
.shake {
    position: absolute;
    animation: shake-animation 20s ease infinite;
    transform-origin: 50% 50%;
}
.shake1 {
    position: absolute;
    animation: shake-animation1 19s ease infinite;
    transform-origin: 50% 50%;
}
.shake2 {
    position: absolute;
    animation: shake-animation2 20s ease infinite;
    transform-origin: 50% 50%;
}

.shake3 {
    position: absolute;
    animation: shake-animation3 16s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes shake-animation {
   0% { transform:translate(0,0) }
  10% { transform:translate(35vw,40vh) }
  20% { transform:translate(25vw,40vh) }
  30% { transform:translate(50vw,25vh) }
  40% { transform:translate(17vw,10vh) }
  50% { transform:translate(50vw,26vh) }
  60% { transform:translate(30vw,30vh) }
  70% { transform:translate(0,10vh) }
  90% { transform:translate(50vw,5vh) }
  100% { transform:translate(10vw,0) }
}

@keyframes shake-animation1 {
    0% { transform:translate(100vw,40vh) }
   10% { transform:translate(50vw,0vh) }
   40% { transform:translate(50vw,0vh) }
   50% { transform:translate(45vw,10vh) }
   70% { transform:translate(0,50vh) }
   90% { transform:translate(50vw,0) }
   100% { transform:translate(100vw,40vh) }
 }

 @keyframes shake-animation2 {
    0% { transform:translate(5vw,90vh) }
   10% { transform:translate(20vw,70vh) }
   20% { transform:translate(100vw,100vh) }
   30% { transform:translate(50vw,50vh) }
   40% { transform:translate(10vw,65vh) }
   10% { transform:translate(20vw,70vh) }
   0% { transform:translate(5vw,90vh) }
   20% { transform:translate(100vw,100vh) }
   40% { transform:translate(10vw,65vh) }
   10% { transform:translate(20vw,70vh) }
   20% { transform:translate(100vw,100vh) }
 }

 @keyframes shake-animation3 {
    0% { transform:translate(0,0) }
   10% { transform:translate(50vw,60vh) }
   40% { transform:translate(25vw,40vh) }
   50% { transform:translate(50vw,0) }
   70% { transform:translate(0,0) }
   90% { transform:translate(50vw,0) }
   100% { transform:translate(0,0) }
 }

/* fonts */
@font-face{
    font-family: 'Cormorant semi';
    src: url('assets/fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf')
}
@font-face{
    font-family: 'Zenkaku Medium';
    src: url('assets/fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Medium.ttf');
}
@font-face{
    font-family: 'Zenkaku Bold';
    src: url('assets/fonts/Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Bold.ttf');
}

.outside_body h1{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Cormorant semi';
    color: var(--couleur2);
    font-size: 5em;
    text-align: center;
}
.outside_body h3{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Zenkaku Bold';
    color: var(--couleur6);
    font-size: 2.5em;
    text-align: center;
}
.outside_body p{
    font-weight: normal;
    font-family: 'Zenkaku medium';
}
.outside_body .button1{
    font-weight: normal;
    font-family: 'Zenkaku medium';
    color: var(--couleur3);
    font-size: 1.5em;
}
/* mobile styles */

/* small tablet styles*/
@media screen and (max-width: 619px){
    body{
        font-size: 10px;
    }
    .outside_body .button1{
        width: 291px;
        height: 56px;
        font-size: 22px;
    }
}
@media screen and (min-width: 620px){
    .outside_body .button1{
        width: 296px;
        height: 56px;
        font-size: 22px;
    }
}

/* large tablet & laptop styles*/
@media screen and (min-width: 960px){
    body{
        font-size: 18px;
    }
    .outside_body .button1{
        width: 330px;
        height: 60px;
        font-size: 25px;
    }
}

/* desktop styles*/
@media screen and (min-width: 1200px){
    body{
        font-size: 20px;
    }
    .outside_body .button1{
        width: 400px;
        height: 70px;
        border-radius: 3px;
        font-size: 30px;
    }
}

/* grid testing */
.projects{    
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.projects a{
    text-align: center;
    padding: 20px;
}